{% if app.session.flashBag.has('information') %}
    <div class="alert alert-info">
        {% for msg in app.session.flashBag.get('information') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('error') %}
    <div class="alert alert-danger">
        {% for msg in app.session.flashBag.get('error') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}