<div class="container">
    {% if renderStatTable %}
        {% include('@Home/History/feedhistory.html.twig') %}
    {% else %}
        <h2 class="no-feeder">
            {{ 'noFeederMessage' | trans }}
        </h2>
        <span class="glyphicon glyphicon-plus-sign"></span>
        <a href="{{ path('feeder_feeder_add') }}">{{ 'linktoaddfeeder' | trans}}</a>
    {% endif %}
</div><!-- /.container -->