body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.table {
    width: 50%;
}

th {
    background-color: #4CAF50;
    color: white;
}
.form-control {
    width: 100%;
}